// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";
@import "icon-list";

//drumline colors
$graphite: #545454;
$white: $body-bg;
$burgundy: #780000;

$plum: #721051;
$carnation: #ff4ca2;
$rose: #ff396a;

$forest: #015b0a;
$endive: #c1e533;
$lime: #75e133;

$lichen: #125649;
$seafoam: #33df9f;
$peppermint: #26ed6d;


.tg-next-normal {
  font-family: trade-gothic-next, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.tg-next-comp-normal {
  font-family: trade-gothic-next-compressed, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.tg-next-comp-bold {
  font-family: trade-gothic-next-compressed, sans-serif;
  font-style: normal;
  font-weight: 700;
}

//
// Custom styles
//


body {
  padding: 0;
  @extend .tg-next-normal;
  font-size: 22px;
  line-height: 26px;

  @include media-breakpoint-up(lg) {
    font-size: 26px;
    line-height: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @extend .tg-next-comp-bold;
  text-transform: uppercase;
}

h2 {
  font-size: 56px;
  line-height: 1;
  letter-spacing: 2.1px;
  @include media-breakpoint-up(lg) {
    font-size: 70px;
  }
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

header {
  overflow: hidden;
}

section {
  padding-top: 60px;

  @include media-breakpoint-up(lg) {
    padding-top: 150px;
  }
}

.graphite {
  color: $white;
  background-color: $graphite;
}

.forest {
  color: $white;
  background-color: $forest;
}

.burgundy {
  color: $white;
  background-color: $burgundy;
}

.lichen {
  color: $white;
  background-color: $lichen;
}

.plum {
  color: $white;
  background-color: $plum;
}

.circles {
  display: grid;
  grid-template-columns: repeat(20, 50px 75px);
  padding-top: 70px;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(10, 50px 1fr 50px);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(10, 100px 1fr 100px);
    padding-top: 120px;
  }
}

.circle--logo {
  z-index: 2;
  width: 200px;
  grid-column: 2/4;
  grid-row: 1/2;

  img {
    width: 100%;
    max-width: 200px;
  }

  @include media-breakpoint-up(lg) {
    width: 300px;

    img {
      max-width: 300px;
    }
  }
}

.circle {
  grid-row: 1/2;
  z-index: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: .5; //for now
  transition: transform 1s ease;

  @include media-breakpoint-down(sm) {
    &:nth-child(n+5) {
      display: none;
    }
  }

  @include media-breakpoint-only(md) {
    &:nth-child(n+8) {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 300px;
    height: 300px;
  }

  &.white {
    z-index: 0;
    opacity: 1;
  }

  &.one {
    grid-column: 1/3;
    transform: translateX(50px); //setup for animation
    animation: 1s ease 1s 1 circleOne forwards;

    @include media-breakpoint-up(lg) {
      transform: translateX(100px); //setup for animation
    }
  }

  @keyframes circleOne {
    from {
      transform: translateX(50px);
    }
    to {
      transform: translateX(-42px);
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleOne {
      from {
        transform: translateX(100px);
      }
      to {
        transform: translateX(-115px);
      }
    }
  }

  &.two {
    grid-column: 3/5;
    transform: translateX(-150px);
    animation: 1s ease 1s 1 circleTwo forwards;
    @include media-breakpoint-up(lg) {
      transform: translateX(-200px); //setup for animation
    }
  }

  @keyframes circleTwo {
    from {
      transform: translateX(-150px);
    }
    to {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleTwo {
      from {
        transform: translateX(-200px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &.three {
    grid-column: 6/8;
    transform: translateX(-400px); //setup for animation
    animation: 1s ease 1s 1 circleThree forwards;

    @include media-breakpoint-up(lg) {
      grid-column: 5/7;
    }
    @include media-breakpoint-up(lg) {
      grid-column: 5/7;
      transform: translateX(-400px); //setup for animation
    }
  }

  @keyframes circleThree {
    from {
      transform: translateX(-400px);
    }
    to {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleThree {
      from {
        transform: translateX(-400px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &.four {
    grid-column: 5/7;
    transform: translateX(-250px); //setup for animation
    animation: 1s ease 1s 1 circleFour forwards;
    @include media-breakpoint-up(lg) {
      grid-column: 6/8;
      transform: translateX(-600px); //setup for animation
    }
  }

  @keyframes circleFour {
    from {
      transform: translateX(-250px);
    }
    to {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleFour {
      from {
        transform: translateX(-600px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &.five {
    grid-column: 6/8;
    animation: 1s ease 1s 1 circleFive forwards;
    @include media-breakpoint-up(md) {
      grid-column: 8/10;
      transform: translateX(-500px);
    }
    @include media-breakpoint-up(lg) {
      grid-column: 8/10;
      transform: translateX(-800px); //setup for animation
    }
  }

  @keyframes circleFive {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleFive {
      from {
        transform: translateX(-800px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &.six {
    grid-column: 7/9;
    animation: 1s ease 1s 1 circleSix forwards;
    @include media-breakpoint-up(md) {
      grid-column: 9/11;
      transform: translateX(-650px);
    }
    @include media-breakpoint-up(lg) {
      transform: translateX(-1000px); //setup for animation
    }
  }

  @keyframes circleSix {
    from {
      transform: translateX(-650px);
    }
    to {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleSix {
      from {
        transform: translateX(-1000px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &.seven {
    grid-column: 8/10;
    animation: 1s ease 1s 1 circleSeven forwards;
    @include media-breakpoint-up(lg) {
      grid-column: 11/13;
      transform: translateX(-1200px); //setup for animation
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleSeven {
      from {
        transform: translateX(-1200px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &.eight {
    grid-column: 9/11;
    animation: 1s ease 1s 1 circleEight forwards;
    @include media-breakpoint-up(lg) {
      grid-column: 12/14;
      transform: translateX(-1400px); //setup for animation
    }
  }

  @include media-breakpoint-up(lg) {
    @keyframes circleEight {
      from {
        transform: translateX(-1400px);
      }
      to {
        transform: translateX(0);
      }
    }
  }
}

.intro-content {
  padding-top: 53px;

  h2 {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 70px;

    h2 {
      margin-bottom: 70px;
    }
  }
}

.decision-sciences {
  position: relative;
  padding-bottom: 90px;
  .content {
    padding-bottom: 100px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 3rem;
  }
}

.barchart {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 10px;
  align-items: end;
  height: 300px;

  @include media-breakpoint-down(sm) {
    span:nth-child(n+14) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(18, 1fr);
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    right: 100px;
    bottom: 0;
    align-items: unset;
    width: 40%;
    height: auto;
    grid-gap: 15px;
    grid-template-columns: unset;
    grid-template-rows: repeat(18, 1fr);
  }

  @media screen and (min-width: 1300px) {
    right: calc((100vw - 1200px) / 2);
    width: 500px;
  }

  span {
    // display: block;
    height: 100%;
    background-color: $white;

    &:nth-child(2),
    &:nth-child(2n+3),
    &:not(.peak) {
      background-color: $endive;
    }
    &:nth-child(3n+3) {
      background-color: $lime;
    }

    @include media-breakpoint-up(lg) {
      height: auto;
    }
  }

  .peak {
    display: grid;
    grid-template-rows: 1fr 50px;
    background-color: transparent;
    transition: transform .75s ease 1.5s;

    .decision-sciences.scrolled & {
      transform: translateY(-20px);
    }

    &::before {
      display: inline-block;
      width: 100%;
      content: "";
      background-color: $endive;
    }
    &::after {
      display: inline-block;
      align-self: end;
      width: 100%;
      padding-top: 100%;
      content: "";
      background-color: $white;
      border-radius: 50%;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 50px;
      grid-template-rows: unset;
      grid-gap: 15px;

      .decision-sciences.scrolled & {
        transform: translateX(-20px);
      }

      &::after{
        align-self: end;
      }
    }
  }
}

.decision-sciences .barchart .peak {
  background-color: transparent; //github stylelint is CRAZY
}

.row {
  .content {
    h2 {
      margin-bottom: 45px;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 200px;
      h2 {
        margin-bottom: 64px;
      }
    }
  }
}

.break-out {
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  width: 100vw;
}

.data-intelligance {
  position: relative;
  overflow: hidden;
}

.letter-grid {
  display: grid;
  font-size: 25px;
  line-height: 45px;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;

  @extend .tg-next-comp-bold;
  @include media-breakpoint-up(md) {
    font-size: 45px;
    line-height: 70px;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 50%;
    left: 1vw;
    width: 53%;
    font-size: 50px;
    line-height: 84px;
    transform: translateY(-50%);
  }

  @include media-breakpoint-up(xl) {
    left: calc((100vw - 1200px) / 2);
    width: 650px;
  }

  span {
    color: #ff353a;
    background-color: transparent;
  }

  .highlight {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: color .5s ease 0s, background-color .5s ease 0s;

    .data-intelligance.scrolled & {
      color: $white;
      background-color: #ff3339;
      transition: color 1s ease 1s, background-color 1s ease 1s;
    }
  }
}

.digital-analytics {
  position: relative;

  .content {
    position: relative;
    z-index: 1;
    padding-bottom: 300px;
  }
}

.graph {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-gap: 5px;
  align-items: end;

  --my-height: 40px;

  @include media-breakpoint-up(lg) {
    grid-gap: 12px;
  }

  span {
    display: block;
    height: 40px;
    background-color: $white;

    //once animation is needed/added
    transition: height 1s ease 1s;

    &:nth-child(2),
    &:nth-child(2n+3) {
      background-color: $seafoam;
    }
    &:nth-child(3n+3) {
      background-color: $peppermint;
    }

    .digital-analytics.scrolled & {
      height: var(--my-height);
    }
  }
}

.services-list {
  padding-top: 25px;
  padding-left: 0;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: .52px;
  @extend .tg-next-comp-normal;
  list-style: none;

  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
  }
}

.crm-loyalty {
  position: relative;
  overflow: hidden;
}

.venn-diagram {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 50%;
    left: 10vw;
    width: 400px;
    transform: translateY(-50%);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px 1fr;
  }
  @include media-breakpoint-up(xl) {
    width: 500px;
  }

  span {
    grid-row: 1/2;
    background: rgba(0, 5, 10, .7);
    border-radius: 50%;

    &:first-child {
      background: rgba(255, 31, 139, .8); //rose keynote 80
      grid-column: 1/3;
      transition: transform 1.5s ease 1s;
      transform: translateX(30%);
      @include media-breakpoint-up(lg) {
        transition: transform 1.5s ease .25s;
        transform: translateY(40%);
      }

      .crm-loyalty.scrolled & {
        transform: translateX(0);

        @include media-breakpoint-up(lg) {
          transform: translateY(0);
        }
      }
    }
    &:last-child {
      background: rgba(255, 8, 59, .8); //rose keynote 80
      grid-column: 2/4;
      transition: transform 1.5s ease 1s;
      transform: translateX(-30%);
      @include media-breakpoint-up(lg) {
        transition: transform 1.5s ease .25s;
        transform: translateY(-40%);
      }

      .crm-loyalty.scrolled & {
        transform: translateX(0);

        @include media-breakpoint-up(lg) {
          transform: translateY(0);
        }
      }
    }

    &::before {
      display: inline-block;
      width: 1px;
      height: 0;
      padding-bottom: 100%;
      content: "";
    }

    @include media-breakpoint-up(lg) {
      grid-column: 1/2;

      &:first-child {
        grid-row: 1/3;
        grid-column: 1/2;
      }
      &:last-child {
        grid-row: 2/4;
        grid-column: 1/2;
      }
    }
  }
}

footer {
  // padding-top: 70px;
  // padding-bottom: 60px;

  @include media-breakpoint-up(lg) {
    // padding-top: 120px;
    // padding-bottom: 60px;
  }
  .lead {
    max-width: 650px;
  }
}

.footer--content {
  padding-top: 70px;
  padding-bottom: 60px;

  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.footer--logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  h3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    margin-bottom: 0;
    letter-spacing: 1px;

    @include media-breakpoint-up(lg) {
      font-size: 60px;
    }

    span {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 5px;
      height: 100%;
      margin-right: 2px;
      margin-bottom: -60px;
      margin-left: 3px;
      color: rgba($white, 0);
      background-color: $white;

      @include media-breakpoint-up(lg) {
        width: 8px;
      }
    }
  }
}

.footer-list {
  width: 90%;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    padding-top: 20px;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;

    li {
      padding-top: 0;
    }
  }
}

.footer-list a {
  font-size: 26px;
  line-height: 39px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .51px;
  @extend .tg-next-comp-normal;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    line-height: 46px;
  }
}
